.download-button__wrapper {
  width: 210px;
  display: flex;
  gap: 12px;
  background: linear-gradient(180deg, #baaed1 0%, rgba(186, 174, 209, 0) 100%);
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 10px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  box-sizing: border-box;
}

.download-button__wrapper:hover {
  transform: translateY(-2px);
}

.download-button__circle {
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #a9a9a9 0%, rgba(240, 240, 240, 0) 100%);
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.download-button__text {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin: 0;

  @media (max-width: 560px) {
    font-size: 22px;
  }
}
