.header__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 60px;
  top: 56px;
  right: 50px;
  z-index: 2;
}

.header__wrapper a {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .header__wrapper {
    display: none;
  }
}

.header__caption {
  color: #ffffff;
  text-transform: uppercase;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  font-style: normal;
  font-size: 15px;
  margin: 0;
}

.header__caption:hover {
  transform: translateY(-2px);
}
